.stream-container {
	padding: 0;
}
/* Versi Dekstop */
@media (min-width: 992px) { 

	.navbar-brand img{
		width: 210px;
		margin-top: 45px;
	}

	.container-logo{
		margin-left: 80px !important;
	}

	.main-content{
		margin-top: 97px;
		margin-left: 20px;
	}

	.left-content{
		width: 62px;
		padding-top: 34px;
	}

	.text{
		margin-left: 40px;
		margin-top: -140px;
	}

	.text h1{
		font-size: 56px;
		color: #005E6A;
		padding-left: 50px;
	}

	.rigth-content{
		float: right;
		display: inline;
		margin-right: 50px;
		margin-top: -200px;
	}
	.rigth-content img{
		width: 600px;
	}

	.main-form{
		width: 40%;
		margin-left: 54px;
		margin-top: 34px;
	}
	.main-form li{
		list-style-type:none;
	}
	.nav-item a{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
	}
	.nav-link 
	{
		margin-right: 25px;
		color:#cccaca;
		text-decoration: none;
		cursor: pointer;
		padding-bottom: 8px !important;
		font-weight: 300 !important;
	}
	.active{
		color:#005E6A !important;
		border-bottom: 1px solid #005e6a9d;
		font-weight: 500 !important;
	}
	.nav-link:hover{
		padding-top: -2px;
		border-bottom: 1px solid #005e6a9d;
	}
	#join-dialog{
		width: 50%;
		margin-top: 77px;
		margin-left: 95px;
	}
	#username{
		display: none;
	}
	input[type="text"]{
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 3px 3px 11px #adadad;
		border-color: #fff;
	}
	input[type="button"]{
		display: inline;
	}
	#sessionId{
		width: 502px;
    	height: 50px;
	}
	.type-submit{
		float: right;
		margin-right: 160px;
		margin-top: -75px;
	}
	.logo{
		margin-top: 50px;
    	margin-left: 67px;
	}
	.logo img{
		width : 130px !important;
	}
	.footer1 {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: transparent;
	}
	.footer1 img{
		width: 40%;
	}
	.text-footer{
		float: right;
		margin-bottom: 5px;
		margin-top: 90px;
		margin-right: 124px;
		font-size:13px;
		color: #e4e3e3;
	}
	.text-footer p{
		margin: 0 0 -2px;
	}

}

/* Versi Mobile */
/* @media (min-width: 575.98px), (max-width: 991.98px) { 

	.container-logo{
		margin-left: 30px !important;
	}
	.navbar-brand img{
		width: 210px;
		margin-top: 45px;
	}
	.main-content{
		margin-top: 97px;
		margin-left: 10px;
	}
	.left-content{
		width: 50px;
		padding-top: 5px;
	}
	.left-content h1{
		font-size: 18px;
	}
	.text{
		margin-left: 40px;
		margin-top: -140px;
	}

	.text h1{
		font-size: 56px;
		color: #005E6A;
		padding-left: 50px;
	}

	.rigth-content{
		float: right;
		display: inline;
		margin-right: 50px;
		margin-top: -200px;
	}
	.rigth-content img{
		width: 600px;
	}

	.main-form{
		width: 40%;
		margin-left: 54px;
		margin-top: 34px;
	}
	.main-form li{
		list-style-type:none;
	}
	.nav-item a{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
	}
	.nav-link 
	{
		margin-right: 25px;
		color:#cccaca;
		text-decoration: none;
		cursor: pointer;
		padding-bottom: 8px !important;
		font-weight: 300 !important;
	}
	.active{
		color:#005E6A !important;
		border-bottom: 1px solid #005e6a9d;
		font-weight: 500 !important;
	}
	.nav-link:hover{
		padding-top: -2px;
		border-bottom: 1px solid #005e6a9d;
	}
	#join-dialog{
		width: 50%;
		margin-top: 77px;
		margin-left: 95px;
	}
	#username{
		display: none;
	}
	input[type="text"]{
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 3px 3px 11px #adadad;
		border-color: #fff;
	}
	input[type="button"]{
		display: inline;
	}
	#sessionId{
		width: 502px;
    	height: 50px;
	}
	.type-submit{
		float: right;
		margin-right: 160px;
		margin-top: -75px;
	}
	.logo{
		margin-top: 50px;
    	margin-left: 67px;
	}
	.logo img{
		width : 130px !important;
	}
	.footer1 {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: transparent;
	}
	.footer1 img{
		width: 40%;
	}
	.text-footer{
		float: right;
		margin-bottom: 5px;
		margin-top: 90px;
		margin-right: 124px;
		font-size:13px;
		color: #e4e3e3;
	}
	.text-footer p{
		margin: 0 0 -2px;
	}



 } */

.main-content h1{
	font-family: 'Roboto', sans-serif;
}